/* NAVIGATION */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 5px;
}

/* HOME SECTION */
#home{
        height: 280px;
        padding: 3px 10px;
}
#home::before{
        height: 400px;
}
#home p{
    font-size: 13px;
}
/* SERVICES */
#services{
    flex-direction: column;
}
#services .box{
    padding: 12px;
    margin: 2px 0px;
    margin-bottom: 15px;
}
/* CLIENT section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 60px;
    padding: 2px 8px;
    height: auto;
}
/* CONTACT */
#contact-box form{
    width: 80%;
}
/* footer */
/* utility classes */
.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 15px;
    padding: 4px 8px;
}